@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family:'Roboto', sans-serif;
  background: #222;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
  font-size: 120%;
}

.card {
  background: linear-gradient(to bottom, #57c1eb 0%,#246fa8 100%);
  color: white;
  padding: 2em;
  padding-bottom: 1em;
  border-radius: 12px;
  width: 100%;
  max-width: 420px;
  margin: 2% auto;
  opacity: 0.92;
  user-select: none;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin-left: 12px;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #76737366;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-image: url(./search_icon-2.png);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #76737366;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

input.search-bar::placeholder {
  color: whitesmoke;
  font-family: inherit;
}

button:hover {
  background: #7c7c7c6b;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.strech-container {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}
.weather-forecast {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.8em;
  font-size: 0.8em;
  border-top: 1px dotted #76737366;;
}
.weather-forecast-days {
  width: 23%;
  display: flex;
  flex-direction: column;
}
.day-icon {
  height: 50px;
  width: 50px;
}